.product {
    border-style: solid;
    border-color: red;
}
.product::after {
    margin-left: 5%;
    margin-right: 5%;
}

.checkout {
    border-style: solid;
    border-color: red;
}
body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}
p{
    font-weight: bold;
    font-size: 20px;
}