#logo {
    margin-left: 20px;
    margin-right: 5px;
    width: 123px;
    flex-shrink: 0;


}
#nav{
    display: flex;
    flex-direction: row;
    background-color: BLACK; 
    padding-bottom: 7px;
    padding-top: 7px;
    
   
}
#nav a{
    margin-top: 15px;
    margin-left: 5px;
    font-family: "Arial";
    font-size: 1.3em;
    text-decoration: none;
    color: #cceecc;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 25px;
    
}
#nav a:hover{
    color: #ccee77; 
    background-color: #667766;
    
}
body{
    background-color: #02003c;  
    margin: 0;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Arial";
    color: #cceecc;
}
p {
    font-size: 1.1em;
     line-height: 1.6;
}
p a {
    color: #cceecc;
}

ul li {
    padding-bottom: 10px;
}
ul li a {
    color: #cceecc;
    font-size: 1.1em;
}
#nameSucc{
    display: flex;
}
#notesName{
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#updatetext{
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
}
form a {
    color: red;
}
form a:visited {
    color: red;
}


#footer {
    background-color: black;  
}
#footer p{
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
}
/*#footer a{
    margin-left: 10px;
    font-family: "Arial";
    font-size: 1.3em;
    text-decoration: none;
    color: #cceecc;
    padding: 20px;
    border-radius: 25px;
}
#footer a:hover{
    color: #ccee77; 
    background-color: #667766;
}*/