#logo {
    margin-left: 20px;
    margin-right: 5px;
    width: 123px;


}
#nav{
    display: flex;
    flex-direction: row;
    background-color: BLACK; 
    padding-bottom: 7px;
    padding-top: 7px;
    
   
}
#nav a{
    margin-top: 15px;
    margin-left: 5px;
    font-family: "Arial";
    font-size: 1.3em;
    text-decoration: none;
    color: #cceecc;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 25px;
    
}
#nav a:hover{
    color: #ccee77; 
    background-color: #667766;
    
}
body{
    background-color: #02003c;  
    margin: 0;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Arial";
    color: #cceecc;
}
p {
    font-size: 1.1em;
}






#footer {
    background-color: black;  
}
#footer p{
    color: #ffffff;
    text-align: center;
}
/*#footer a{
    margin-left: 10px;
    font-family: "Arial";
    font-size: 1.3em;
    text-decoration: none;
    color: #cceecc;
    padding: 20px;
    border-radius: 25px;
}
#footer a:hover{
    color: #ccee77; 
    background-color: #667766;
}*/